*, *::before, *::after {
    box-sizing: border-box;
}

@page {
    margin: 1in;
}
@media print {
    body {
        background: none;
    }

    ::ng-deep .ql-editor {
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }
    ::ng-deep .ql-toolbar.ql-snow {
        display: none;
    }
}

.body {
    z-index: 0;
    position: relative;
    background-color: #F3F3F3;
}

.title-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.chapter-title {
    margin-left: 1rem;
    font-family: 'DS Marker Felt', fantasy;
}

.insPanelTitle {
    font-weight: bold;
    font-family: 'Chalkduster', fantasy;
    color: darkorange;
    margin-left: 7rem;
}

::ng-deep .main .ql-toolbar {
    border: none;
    display: flex;
    justify-content: center;
    margin-left: 15rem;
    position: sticky;
    top: 0;
    margin-top: 0.7rem;
    width: 10in;
    background-color: #F3F3F3;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    transition: margin-left 0.5s ease;
    z-index: 1;
}

::ng-deep .main .ql-editor {
    position: relative;
    width: 8.5in;
    min-height: 11in;
    padding: 0.5in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
    justify-content: center;
    z-index:0;
}

::ng-deep .main .ql-container.ql-snow {
    z-index: 0;
    border: none;
    display: flex;
    justify-content: center;
    transition: margin-right 0.5s ease;
    margin-right: 5rem;
}

.bottom-buttons {
    display: flex;
    margin-left: 38.5rem;
    transition: margin-left 0.5s ease;
}

.sidebar {
    width: 250px;
    justify-content: center;
}

.sidebar-open ::ng-deep .main .ql-container {
    margin-left:0;
    margin-right:570px;
}

.sidebar-open ::ng-deep .main .ql-toolbar {
    margin-left:0;
    margin-right:20px;
}

.sidebar-open .bottom-buttons {
    margin-left:23rem;
}

.menu-button {
    float: right;
    position: sticky;
    margin-right: 3rem;
    margin-top: 0.1rem;
}

.sidePanelButton {
    display: flex;
    position: sticky;
    float: right;
    margin-right: 1rem;
    margin-top: 0.1rem;
}

.images-panel {
    margin: 3rem;
}

.links-panel {
    margin: 3rem;
    justify-content: center;
}

.right-panel {
    position: sticky;
    top: 1rem;
}

.insImageTitle {
    color: slateblue;
    font-family: 'Chalkduster', fantasy;
    font-size: 25px;
    display: flex;
}

.links {
    border: none;
    width: 450px;
}

.panel-save {
    margin-left: 18.5rem;
    display: flex;
    margin-bottom: 1rem;
}

::ng-deep .ql-tooltip {
    white-space: normal;
    margin-left: 8rem;
}