*, *::before, *::after {
    box-sizing: border-box;
}

.body {
    background-color: white;
}

.editor-container {
    background-color: #F3F3F3;
    width: 8.5in;
    min-height: 11in;
    margin: 1rem auto;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}