<link href="https://fonts.cdnfonts.com/css/ds-marker-felt" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/chalkduster" rel="stylesheet">

<style>
    @import url('https://fonts.cdnfonts.com/css/ds-marker-felt');
    @import url('https://fonts.cdnfonts.com/css/chalkduster');
</style>

<div class="title-container">
    <h1 class="chapter-title">{{chapterName}} </h1>
    <p-overlayPanel #op [style]="{
        width: '500px',
        fontSize: '16px',
        border: '0.5px solid black',
        borderRadius: '8px'
    }">
        <p style="font-weight: bold; text-decoration: underline; margin:0 1em 0 0;">Chapter Description:</p>
        {{description}}
    </p-overlayPanel>
    <p-button icon="pi pi-search" size="small" [rounded]="true" [text]="true" severity="info" (click)="op.toggle($event)" ></p-button>
</div>

<div class="body">
    <p-sidebar class="sidebar" [(visible)]="sidebarVisible" [modal]="false" position="right" [style]="{width:'35em'}">
        <h2>Inspiration Panel</h2>
        <p-panel class="images-panel" header="Images" [toggleable]="true">
            <p>
                No images available
            </p>
        </p-panel>
        <p-panel class="links-panel" header="Links" [toggleable]="true">
            <p>
                No links available
            </p>
        </p-panel>
    </p-sidebar>
    <div class="right-panel card flex justify-content-center">
        <p-toast class="toast" position="top-center"></p-toast>
        <p-splitButton class="menu-button" size="small" icon="pi pi-check" label="Save"  [model]="menuItems" (onClick)="onSave()" styleClass="p-button-raised p-button-info p-button-text mr-2 mb-2"></p-splitButton>
        <p-button class="sidePanelButton" icon="pi pi-image" (click)="sidebarVisible=true" [raised]="true" [rounded]="true" [text]="true" severity="success"></p-button>
    </div>
    <div class="editor-container">
        <quill-editor [(ngModel)]="text" [ngClass]="{'sidebar-open': sidebarVisible}"></quill-editor>
    </div>
    <div class="bottom-buttons">
        <p-button class="bot-chapters" severity="secondary" [rounded]="true" [text]="true" icon="pi pi-arrow-left" label="Back"  (click)="redirectToChapters()"></p-button>
        <p-button class="bot-save" severity="secondary" [rounded]="true" [text]="true" icon="pi pi-check" label="Save" [loading]="loading" (click)="onSave(); load()"></p-button>
    </div>
</div>
