<div class="center">
        <h3>Content</h3>
        <div class="editor-container">
            <quill-editor [(ngModel)]="text"></quill-editor>
        </div>
        <div style="margin-top: 20px;">
            <button pButton label="Projects List" style="margin-right: 20px;" (click)="redirectToProjects()"></button>
            <button pButton label="Chapters List" style="margin-right: 20px;" (click)="redirectToChapters()"></button>
            <p-button label="Save" [loading]="loading" (click)="onSave(); load()"></p-button>
        </div>
        
</div>
