<p-toast class="toast" position="top-right" [baseZIndex]=10000></p-toast>
<app-navbar></app-navbar>
<div class="body">
    <div class="container" >
        <div class="header">
            <h3>Chapters List</h3>
            <div>
                <button pButton  (click)="redirectToProjects()">Projects List</button>
                <button pButton [disabled]="editing || chapters.length == 0" (click)="redirectToContent()">Chapter Content</button>
                <button pButton [disabled]="editing"(click)="createChapter()">New</button>
                <button pButton [disabled]="chapters.length == 0" (click)="confirm_and_delete()">Delete</button>
            </div>
        </div>

        <p-table [value]="chapters" [columns]="columns" dataKey="chapterId" editMode="row" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
        [scrollable]="true" scrollHeight="75vh" [reorderableColumns]="true" (onRowReorder)="onRowReorder()">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:5em;text-align:center">Reorder</th>
                    <th style="width:7.5em;text-align:center">Edit</th>
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="col.hidden==false">
                            {{col.displayName}}
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-edit="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData" [pSelectableRow]="rowData" [class.p-highlight]="rowData.chapterId === selectedChapter.chapterId" (click)="onSelect(rowData)" [pReorderableRow]="ri" >
                    <td style="text-align:center; min-width: 50px;" >
                        <span *ngIf="!editing"  class="pi pi-bars" pReorderableRowHandle></span>
                        <span *ngIf="editing" class="pi pi-bars"></span>
                    </td>
                    <td style="text-align:center; min-width: 50px;">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!edit" [disabled]="editing && rowData.chapterId != selectedChapter.chapterId" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="edit" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="edit" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                    <ng-container *ngFor="let col of columns">
                        <td *ngIf="col.hidden == false" style="min-width: 150px;">
                            <p-cellEditor *ngIf="col.readonly == false">
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData[col.columnName]" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.columnName]}}
                                </ng-template>
                            </p-cellEditor>
                            <ng-container *ngIf="col.readonly == true ">
                                {{rowData[col.columnName]}}
                            </ng-container>
                        </td>
                    </ng-container>
            </ng-template>
        </p-table>
    </div>
</div>