.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button{
    margin-left: .5rem;
}

.container{
    position: relative;
    top: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.body {
    background-image: radial-gradient(circle, rgba(255,255,255,0.5), rgba(255,255,255,0.75)), url("../../../../assets/images/background/bg3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:40.3rem;
    margin-top:0.1rem;
}

th {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}