.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button{
    margin-left: .5rem;
}

.container{
    margin: 0.25rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.body {
    background: url("../../../../assets/images/bg3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:39.5rem;
}

th {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}