.content {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 55px;
}

.content p {
    font-size: 20px;
    padding-left: 25em;
    line-height: 20px;
    font-family: "Comic Sans MS", cursive;
}

.title-buttons button{
    margin: .5rem;
}