.content {
    width: 100%;
    height:75%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 55px;
}

.content p {
    font-size: 20px;
    padding-left: 25em;
    line-height: 20px;
    font-family: "Comic Sans MS", cursive;
}

.title-buttons button{
    margin: .5rem;
}

.container{
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    border-radius: 20px;
}