.content {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 55px;
}

.content p {
    font-size: 20px;
    padding-left: 25em;
    line-height: 20px;
    font-family: "Comic Sans MS", cursive;
}

.sign_up_button {
    font-family: "Sans-serif", Arial, serif;
    font-weight: bold;
    width: 170px;
    padding: 15px 0;
    text-align: center;
    border-radius: 12px;
    background: #4285F4;
    color: white;
    cursor: pointer;
    font-size: 17px;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
}

.sign_up_button span {
    background: #1973e8;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.sign_up_button:hover span{
    width: 100%;
}

.sign_up_button:hover{
    background-color: #1059b9;
}

.sign_in_button {
    font-family: "Sans-serif", Arial, serif;
    font-weight: bold;
    width: 170px;
    padding: 15px 0;
    text-align: center;
    border-radius: 12px;
    background: white;
    color: #1973e8;
    cursor: pointer;
    font-size: 17px;
    margin: 20px 10px;
    position: relative;
    overflow: hidden;
}

.sign_in_button span {
    background: #1973e8;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.sign_in_button:hover span{
    width: 100%;
}

.sign_in_button:hover{
    background-color: #c2d4ec
}