<app-navbar></app-navbar>
<p-toast position="top-center"></p-toast>
<div class="body">
    <div class="container" >
        <div class="header">
            <h3>Projects List</h3>
            <div>
                <button pButton [disabled]="editing || projects.length == 0" (click)="redirectToChapters()">Chapters List</button>
                <button pButton [disabled]="editing"(click)="createProject()">New</button>
                <button pButton id="deleteButton" [disabled]="projects.length == 0" (click)="confirm_and_delete()">Delete</button>
            </div>
        </div>

        <p-table class="projects-table" [value]="projects" [columns]="columns" dataKey="projectId" editMode="row" styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm"
        [scrollable]="true" scrollHeight="75vh">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:8em;text-align:center">Edit</th>
                    <ng-container *ngFor="let col of columns">
                        <th *ngIf="col.hidden==false">
                            {{col.displayName}}
                        </th>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData" [pSelectableRow]="rowData" [class.p-highlight]="rowData.projectId === selectedProject.projectId" (click)="onSelect(rowData)">
                    <td style="text-align:center; min-width: 50px;">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                    <ng-container *ngFor="let col of columns">
                        <td *ngIf="col.hidden == false" style="min-width: 150px;">
                            <p-cellEditor *ngIf="col.readonly == false">
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData[col.columnName]" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData[col.columnName]}}
                                </ng-template>
                            </p-cellEditor>
                            <ng-container *ngIf="col.readonly == true ">
                                {{rowData[col.columnName]}}
                            </ng-container>
                        </td>
                    </ng-container>
            </ng-template>
        </p-table>
    </div>
    <script>

    </script>
</div>