<div height="height: 100vh;">
    <nav class="navbar" style="justify-content: space-between; display: flex; align-items: center; padding: 10px;">
        <!-- <div>
            <img src="https://cdn.glitch.global/b9a75b23-446b-41bd-92bb-ac7aa49f98b2/StorytellerLogo.jpg?v=1697644998554" width="70px" > 
        </div> -->
        
    <h2 >StoryTeller Studio</h2>
        <ul>
            <li (click)="redirectToSite()"> Return To Site</li>

        </ul>
    </nav>
<div style="display: flex; align-items: center; width: 100%; justify-content: center; flex-direction: column; height:100%">
    <h3 >
        Page Not Found 404
      </h3>
  
      <img src="https://cdn.glitch.global/c1a47f4f-cd8d-4fa5-90e2-dc0efda46cdf/7e44fc6c-2bdf-4268-9141-a930b3754b18.png?v=1698700161105" height="300" class="center">
</div>
    
</div>
