<div>
    <nav>
        <ul>
            <li><a href="#home"><img src="https://cdn.glitch.global/b9a75b23-446b-41bd-92bb-ac7aa49f98b2/StorytellerLogo.jpg?v=1697644998554" width="70px" > </a>
            </li>
            <li><a href="#home">Home</a></li>
            <li><a href="#stories">Stories</a></li>
            <li><a href="#chapters">Chapters</a></li>
            <li><a href="#shared">Shared</a></li>
            <li style="float:right"><a class="active" href="#settings">Settings</a></li>
        </ul>
    </nav>
</div>
