<div>
    <nav class="navbar" style="justify-content: space-between; display: flex; align-items: center; padding: 10px;">
        <!-- <div>
            <img src="https://cdn.glitch.global/b9a75b23-446b-41bd-92bb-ac7aa49f98b2/StorytellerLogo.jpg?v=1697644998554" width="70px" > 
        </div> -->
        
    <h2 >StoryTeller Studio</h2>
        <ul>
            <li (click)="redirectToProjects()"> Projects</li>
            <li (click)="redirectToSettings()"> Settings</li>
            <li (click)="redirectToHome()"> Log Out</li>
        </ul>

    </nav>
</div>
