<link href="https://fonts.cdnfonts.com/css/tex-gyre-schola" rel="stylesheet">
<div>
    <nav class="navbar" style="justify-content: space-between; display: flex; align-items: center; padding: 10px;">
        <h2><img ngSrc="../../../../assets/images/logo.png" height="25" width="30" alt="logo" /> StoryTeller Studio</h2>
        <ul>
            <li class="redirect-projects" title="Go to projects" (click)="redirectToProjects()">
                <i class="pi pi-folder-open" style="font-size: 1rem"></i>
                <span> Projects</span>
            </li>
            <li class="redirect-settings" title="Settings" (click)="redirectToSettings()">
                <i class="pi pi-cog" style="font-size: 1rem"></i>
                <span> Settings</span>
            </li>
            <li class="redirect-home" title="Home" (click)="redirectToHome()"> <i class="pi pi-sign-out"></i> Log Out </li>
        </ul>
    </nav>
</div>
