<div class="container">
    <h2 style="color:black; margin-bottom:4%">Create an account</h2>
    <div style="width:90%; margin-bottom:3%; display: flex; justify-content: center;">
        <input type="text" pInputText  [(ngModel)]="username" placeholder="Username"  style="width:45%; margin-right:5%"/>
        <input type="text" pInputText  [(ngModel)]="email" placeholder="Email"  style="width:45%"/>
    </div>
    <div style="width:90%; margin-bottom:5%; display: flex; justify-content: center;">
        <input type="text" pInputText  [(ngModel)]="password" placeholder="Password"  style="width:45%; margin-right:5%"/>
        <input type="text" pInputText  [(ngModel)]="retypePassword" placeholder="Retype Password"  style="width:45%;"/>
    </div>
    <p-toast></p-toast>
    <p-button (click)="signUp()" severity="success">Sign Up</p-button>
</div>