.input{
    width: 70%;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 15px;
}